* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    background: linear-gradient(45deg, #ff6b6b, #6c5ce7);
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffeaa7;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(120deg, #00c6ff, #0072ff);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    animation: fadeIn 2s ease;
}

.hero h1 {
    font-size: 48px;
}

.btn {
    margin-top: 25px;
    padding: 14px 30px;
    border: none;
    background: linear-gradient(45deg, #ff9f43, #ff6b6b);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    transform: scale(1.1);
}

/* SECTIONS */
.section {
    padding: 70px 40px;
    text-align: center;
}

.about {
    background: #f8f9fa;
}

.projects {
    background: #eef2ff;
}

.contact {
    background: #f1f2f6;
}

/* PROJECT CARDS */
.project-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 35px;
}

.card {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-12px) scale(1.03);
}

/* FOOTER */
footer {
    background: linear-gradient(45deg, #6c5ce7, #ff6b6b);
    color: white;
    text-align: center;
    padding: 18px;
}

/* ANIMATION */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* RESPONSIVE */
@media(max-width: 768px) {

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin-top: 10px;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 32px;
    }
}
